<%- include('./inc/header.ejs')%>


<form action="" method="POST">
    <input placeholder="Anasayfa Başlık" type="text" class="form-control" id="home_title" name="home_title" />
    <br>
    <textarea placeholder="Anasayfa Açıklama" name="home_description" id="editor"></textarea>
    <!-- <input placeholder="shor" type="text" class="form-control" id="long" name="long" /> -->
    <br>
    <input type="submit" value="Ekle">
</form>



<%- include('./inc/footer')%>
