<%- include('./inc/header.ejs')%>


<form action="" method="POST">
    <input placeholder="title" type="text" class="form-control" id="title" name="title" />
    <br>
    <input placeholder="shor" type="text" class="form-control" id="short" name="short" />
    <br>
    <textarea placeholder="long" name="long" id="editor"></textarea>
    <!-- <input placeholder="shor" type="text" class="form-control" id="long" name="long" /> -->
    <br>
    <input type="submit" value="Ekle">
</form>


<%- include('./inc/footer')%>
