<!DOCTYPE HTML>
<html>

<head>
    <title>Strata by HTML5 UP</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="assets/css/main.css" />
</head>

<body class="is-preload">

    <!-- Header -->
    <header id="header">

        <div class="inner">
            <a href="#" class="image avatar"><img src="images/avatar.jpg" alt="" /></a>
            <h1><strong>I am Strata</strong> Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, rem.</h1>
        </div>
    </header>

    <!-- Main -->
    <div id="main">

        <!-- One -->
        <section id="one">
            <header class="major">
                <h2>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perferendis, iste!</h2>
            </header>
            <p>Accumsan orci faucibus id eu lorem semper. Eu ac iaculis ac nunc nisi lorem vulputate lorem neque cubilia ac in adipiscing in curae lobortis tortor primis integer massa adipiscing id nisi accumsan pellentesque commodo blandit enim arcu non at amet id arcu magna. Accumsan orci faucibus id eu lorem semper nunc nisi lorem vulputate lorem neque cubilia.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi consectetur, doloribus aut voluptatum cum libero beatae voluptates sint odit cumque dignissimos doloremque praesentium est recusandae accusantium a ab culpa, veniam numquam explicabo eius, vitae excepturi deserunt! Eius, obcaecati mollitia consequuntur maxime suscipit aperiam sequi vero nam totam fuga. Tempore eos ducimus adipisci? Officia ea ad consequuntur architecto tempore ex, voluptatem in porro iusto rem nam pariatur sit assumenda itaque velit accusantium qui officiis veritatis nihil iure cupiditate. Odit repellendus architecto quasi ipsum, accusamus sint provident reiciendis odio, necessitatibus officiis fuga voluptatum illum beatae deleniti ullam modi ipsa nam exercitationem quia deserunt sit excepturi magni temporibus. Et deleniti quisquam praesentium expedita deserunt ad saepe officiis veritatis illum necessitatibus, aperiam modi voluptatem cumque magnam explicabo id suscipit odit eveniet ducimus reiciendis. Maxime iste blanditiis, sapiente molestiae quis unde nisi, quasi eos hic sit numquam reiciendis nesciunt voluptatem nam repudiandae eius modi ullam?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo, provident eius minima nisi dignissimos mollitia impedit pariatur quod cupiditate et sequi repellat explicabo id repudiandae molestiae suscipit enim veritatis consequuntur non quam, doloremque voluptatum eligendi ipsam? Consequatur autem nisi pariatur voluptatum repellendus aliquam enim dolores possimus, sint quod placeat suscipit.</p>
            <p>Accumsan orci faucibus id eu lorem semper. Eu ac iaculis ac nunc nisi lorem vulputate lorem neque cubilia ac in adipiscing in curae lobortis tortor primis integer massa adipiscing id nisi accumsan pellentesque commodo blandit enim arcu non at amet id arcu magna. Accumsan orci faucibus id eu lorem semper nunc nisi lorem vulputate lorem neque cubilia.</p>

        </section>

        <!-- Two
        <section id="two">
            <h2>Blog</h2>
            <div class="row">
                <% data.forEach((d)=>{ %>
                <article class="col-3 col-12-xsmall work-item">
                    <a href="images/fulls/01.jpg" class="image fit thumb"><img src="images/thumbs/01.jpg" alt="" /></a>
                    <h3><a href="blog-detay"><%=d.postTitle%></a></h3>
                    <p><%=d.postSubTitle%></p>

                    <p id="m10">Yazar: <a href="#"><%=d.postYazar%></a> | Okuma: <%=d.postRead%></p>

                </article>
                <% });%>
            </div>
            <ul class="actions">
                <li><a href="#" class="button">Bütün Bloglar</a></li>
            </ul>
        </section> -->



    </div>

    <!-- Footer -->
    <footer id="footer">
        <div class="inner">
            <div class="main-menu">
                <ul>
                    <li><a href="/">Anasayfa</a></li>
                    <li><a href="/login">Giriş Yap</a></li>
                    <li><a href="/login">Kayıt Ol</a></li>
                </ul>
            </div>
            <ul class="icons">
                <li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
                <li><a href="#" class="icon brands fa-github"><span class="label">Github</span></a></li>
                <li><a href="#" class="icon brands fa-dribbble"><span class="label">Dribbble</span></a></li>
                <li><a href="#" class="icon solid fa-envelope"><span class="label">Email</span></a></li>
            </ul>
            <!-- <ul class="copyright">
                <li>&copy; Untitled</li>
                <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
            </ul> -->
        </div>
    </footer>

    <!-- Scripts -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/jquery.poptrox.min.js"></script>
    <script src="assets/js/browser.min.js"></script>
    <script src="assets/js/breakpoints.min.js"></script>
    <script src="assets/js/util.js"></script>
    <script src="assets/js/main.js"></script>

</body>

</html>
